[submodule "e-Paper"]
	path = e-Paper
	url = https://github.com/waveshare/e-Paper
[submodule "submodules/e-Paper"]
	path = submodules/e-Paper
	url = https://github.com/waveshare/e-Paper
[submodule "submodules/avrdude"]
	path = submodules/avrdude
	url = https://github.com/avrdudes/avrdude
[submodule "submodules/GxEPD"]
	path = submodules/GxEPD
	url = https://github.com/ZinggJM/GxEPD
